/** HTML CLASSES ***************************************************/
body {
	font-family: arial, helvetica, sans-serif;
	font-size: small;
}

h1 {
	color: #cc0000;
	font-size: 22px;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 2px; 
}

h2 {
	color: #cc0000;
	font-size: 18px;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 2px; 
}

h3 {
	color: #0066cc;
	font-size: 16px;
	font-family: arial, helvetica, sans-serif;
	margin-top: 4px; 
	margin-bottom: 4px; 
}

h4 {
	color: #999;
	font-size: 13px;
	font-family: arial, helvetica, sans-serif;
	margin-top: 4px; 
	margin-bottom: 4px; 
}

/** FORM CLASSES ***************************************************/
input, select, textarea {
	
}

img {
	border: 0;
}


/** LINK CLASSES ***************************************************/
a:link, a:active, a:visited {
	color: #0033cc;
	text-decoration: none;
}

a:hover {
	color: #990000;
	text-decoration: underline;
}

/** TEXT CLASSES ***************************************************/
.smaller {
	font-size: 11px;
	font-family: verdana, tahoma, arial, helvetica;
}

.gray {
	color: #666;
}


/** CONTAINER CLASSES **********************************************/
.container {
	-moz-border-radius-bottomleft:0.5em;
	-moz-border-radius-bottomright:0.5em;
	-moz-border-radius-topleft:0.5em;
	-moz-border-radius-topright:0.5em;
	border: 1px solid #d1d1d1;	
	padding: 10px;
	
}

/** USER COMMENT CLASSES *******************************************/
.comments {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background: transparent url(../images/img_comments.png) no-repeat scroll 0 0;
	border:0 none;
	float:left;
	height:45px;
	margin:0 10px 0 0;
	padding-top:10px;
	width:56px;
}

.comments a {
	color:#FFFFFF;
	display:block;
	font-size:22px;
	line-height:22px;
	margin:0 auto;
	text-align:center;
	width:45px;
}

/** BACKGROUND COLOR CLASSES ***************************************/
.bglight {
	background-color: #f1f1f1;
}

.bglightyellow {
	background-color: #ffffcc;
}


/** CATEGORIES CLASSES *********************************************/
.categories ul {
	list-style: none;
	margin-left: 4px;
	margin-top: 0em;
	padding-top: 0em;
	padding-left: 0em;
}

.categories ul li {
	color: #666;
	font-size: 11px;
	font-family: verdana, tahoma, arial, helvetica;
	list-style-type: none;
	vertical-align: bottom;
	padding-left: 0em;
	padding-top: 12px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #d3d3d3;
}

.categories a:link, .categories a:active, .categories a:visited {
	color: #666;
	text-decoration: none;
}

.categories a:hover {
	color: #000;
	text-decoration: none;
}


/** LISTINGS CLASSES ***********************************************/
.listings table {
	width: 100%;
	border-spacing: 0px;
	border-style: none;
}
.listings th {
	color: #666;
	font-size: 11px;
	font-weight: bold;
	font-family: verdana, tahoma, arial, helvetica;
	text-align: left;
	padding: 4px;
	background-color: #f5f5f5;
	border-bottom: 2px solid #d3d3d3;
}

.listings td {
	padding: 4px;
	vertical-align: top;
}

.listingTitle {
	font-size: 22px;
	font-weight: bold;
	
}

.listingPrice {
	color: #cc0000;
	font-size: 22px;
	font-weight: bold;
	
}

.listingPriceMedium {
	color: #cc0000;
	font-size: 14px;
	font-weight: bold;
	
}

/** BLOCK CLASSES **************************************************/
table.block  {
	width: 100%;
}

.block th {
	margin-bottom: 5px;
	text-align: right;
	height: 20px;
	font-size: 11px;
	font-weight: bold;
	font-family: verdana, tahoma, arial, helvetica;
	border-bottom: 1px solid #d3d3d3;
}

.block td {
	padding: 5px;
	font-size: 11px;
	font-family: verdana, tahoma, arial, helvetica;
}

.blocktitle {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #f1f1f1;
	font-size: 11px;
	font-weight: bold;
	font-family: verdana, tahoma, arial, helvetica;
}


/** NAVIGATION BAR CLASSES *****************************************/
div.navsearch {
	margin-top: 4px;
	margin-left: 2px;
}
div.navlinks {
	padding: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #E8EEF7;
	border-top: 1px solid #0066cc;
	border-bottom: 1px solid #0066cc;
	margin-left: 2px;
	font-weight: bold;
}

.navlinks {
	color: #d3d3d3;
	font-size: 14px;
	font-weigth: bold;
	font-family: arial, helvetica, sans-serif;
}

.navlinks a:link, .navlinks a:active, .navlinks a:visited {
	color: #000;
	text-decoration: none;
}

.navlinks a:hover {
	color: #000;
	text-decoration: underline;
}

/** SUB LINK CLASSES ***********************************************/
.sublinks {
	color: #666;
	font-size: 11px;
	font-family: verdana, tahoma, arial, helvetica;
}

.sublinks a:link, 
.sublinks a:active, 
.sublinks a:visited {
	color: #666;
	text-decoration: none;
}

.sublinks a:hover {
	color: #000000;
	text-decoration: underline;
}

/** HIGHLIGHT CLASSES **********************************************/
input.highlight {
	background-color: #ffffcc;
}

img.highlight  {
	
}

/** ERRORS CLASSES *************************************************/
div.errors {
	color: #ff0000;
	padding: 4px;
	border: 1px solid #990000;
	background-color: #ffffcc;
	font-size: 11px;
	font-family: verdana, tahoma, arial, helvetica;
}

.errors ul {
	margin: 4px;
	margin-left: 8px;
	padding-left: 4px;
	list-style-position: outside;
}

.errors li {
	font-size: 11px;
	font-family: verdana, tahoma, arial, helvetica;
	margin-left: 2px;
	
}

/** SEPARATOR CLASSES **********************************************/
hr.separator {
	height: 1px;
	color: #999;
}


/** RATING CLASSES *************************************************/
.rating_container {  
     
} 
   
.rating_container a {  
     float:left;  
     display:block;  
     width:16px;  
     height:16px;  
     border:0;  
     background-image:url("../images/star.png");  
} 
  
.rating_container a.rating_off {  
   background-image:url("../images/star_off.png"); 
} 
  
.rating_container a.rating_half {  
   background-image:url("../images/star_half.png");  
} 
  
.rating_container a.rating_on {  
    background-image:url("../images/star.png");  
} 
  
.rating_container a.rating_selected {       
}  

/** SCROLLS CLASSES ************************************************/
 #scrollbar_container {  
     position:relative;  
 } 
  
 #scrollbar_track {  
     position:absolute;  
     top:0;  
     height:100%;  
     width:10px;  
     background-color:transparent;  
     cursor:move;  
 } 
  
 #scrollbar_handle {  
     width:10px;  
     background-color:#5c92e7;  
     cursor:move;  
     -moz-border-radius: 5px;  
     -webkit-border-radius: 5px;  
     opacity:0.9;  
     -moz-opacity:0.9;  
 } 
  
 #scrollbar_content {  
     overflow:hidden; 
     height:250px;  
} 


/** CATEGORY BUBBLE CLASSES ****************************************/
div.bubble {
	background-color:#fff;
	border: 1px solid #d3d3d3;
	padding: 10px;
	width: 460px;
	height: 320x;
	position: absolute;
	z-index: 1;
	top: 75px;
	left: 75px;
}
.bubble li {
	color: #666;
	list-style-type: none;	
}

li.today_deals {
	list-style-image: url("../images/date.png");
}
li.top_ten {
	list-style-image: url("../images/award_star_gold_1.png");
}

/** TAG *************************************************************/
.tag {
	-moz-border-radius-bottomleft:0.5em;
	-moz-border-radius-bottomright:0.5em;
	-moz-border-radius-topleft:0.5em;
	-moz-border-radius-topright:0.5em;
	border: 1px solid #d1d1d1;	
	padding: 4px;
	color: #666;
	background-color: #f5f5f5;
	margin-top: 2px;
	margin-right: 5px;
	
}
