<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:ehcache="http://www.springmodules.org/schema/ehcache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
               http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
               http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
               http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
               http://www.springmodules.org/schema/ehcache http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd">

	<!--
	JEE BEANS
	-->
	<ehcache:config configLocation="classpath:ehcache.xml" />

	<ehcache:proxy id="imageCache" refId="itemImageDAO">
		<ehcache:caching methodName="find*" cacheName="imageCache" />
		<ehcache:caching methodName="exists*" cacheName="imageCache" />
		<ehcache:flushing cacheNames="imageCache" methodName="find*" when="after"/>
	</ehcache:proxy>

	<ehcache:proxy id="itemsCache" refId="itemDSO">
		<ehcache:caching methodName="find*" cacheName="itemsCache" />
		<ehcache:flushing cacheNames="itemsCache" methodName="find*" when="after"/>
	</ehcache:proxy>


	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/comp/env/jdbc/commerce4j" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!--
	MAIL BEANS

	<bean id="mailer" class="com.commerce4j.storefront.utils.gmail.SendMailImpl">
		<property name="username" value="gmailuid" />
		<property name="password" value="gmailpwd" />
	</bean>

        <bean id="mailer" class="com.commerce4j.storefront.utils.postmark.SendMailImpl">
                <property name="token" value="29d90865-37c4-41be-a265-f4f5898874d1" />
	</bean>
        -->

        <bean id="mailer" class="com.commerce4j.storefront.utils.smtp.SendMailImpl">
                <property name="smtpHost" value="localhost" />
	</bean>

	<!--
	DAO BEANS
	-->
	<bean id="categoryDAO" class="com.commerce4j.model.dao.jdbc.CategoryDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="userDAO" class="com.commerce4j.model.dao.jdbc.UserDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="brandDAO" class="com.commerce4j.model.dao.jdbc.BrandDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="itemDAO" class="com.commerce4j.model.dao.jdbc.ItemDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="itemImageDAO" class="com.commerce4j.model.dao.jdbc.ItemImageDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="tagDAO" class="com.commerce4j.model.dao.jdbc.TagDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

        <bean id="configDAO" class="com.commerce4j.model.dao.jdbc.ConfigDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

        <bean id="helpDAO" class="com.commerce4j.model.dao.jdbc.HelpDAOImpl">
            <property name="jdbcTemplate" ref="jdbcTemplate"/>
        </bean>

	<bean id="categoryDSO" class="com.commerce4j.model.dso.jdbc.CategoryDSOImpl">
		<property name="categoryDAO" ref="categoryDAO" />
	</bean>

	<bean id="profileDSO" class="com.commerce4j.model.dso.jdbc.ProfileDSOImpl">
		<property name="userDAO" ref="userDAO" />
	</bean>

	<bean id="itemDSO" class="com.commerce4j.model.dso.jdbc.ItemDSOImpl">
		<property name="itemDAO" ref="itemDAO" />
	</bean>

        <bean id="helpDso" class="com.commerce4j.model.dso.jdbc.HelpDSOImpl">
                <property name="helpDao" ref="helpDAO"/>
         </bean>


	<!--
	WEB BEANS
	-->
	<bean id="paramResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
		<property name="paramName" value="aid" />
		<property name="defaultMethodName" value="unspecified" />
	</bean>

	<bean id="baseController" class="com.commerce4j.storefront.controllers.BaseController"
		abstract="true">
		<property name="methodNameResolver" ref="paramResolver" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="profileDSO" ref="profileDSO" />
		<property name="categoryDSO" ref="categoryDSO" />
		<property name="itemDSO" ref="itemDSO" />
                <property name="helpDso" ref="helpDso"/>
	</bean>

	<bean id="homeController" parent="baseController"
		class="com.commerce4j.storefront.controllers.HomeController">
	</bean>

	<bean id="catalogController" parent="baseController"
		class="com.commerce4j.storefront.controllers.CatalogController">
	</bean>

	<bean id="profileController" parent="baseController"
		class="com.commerce4j.storefront.controllers.ProfileController">
	</bean>

	<bean id="cartController" parent="baseController"
		class="com.commerce4j.storefront.controllers.CartController">
	</bean>

	<bean name="syndicationController" parent="baseController"
		class="com.commerce4j.storefront.controllers.SyndicationController">
	</bean>

	<bean name="jsonView" class="org.springframework.web.servlet.view.json.JsonView">
		<property name="jsonWriter" ref="jsonWriter" />
	</bean>

	<bean name="jsonWriter"
		class="org.springframework.web.servlet.view.json.writer.xstream.XStreamJsonStringWriter">
		<property name="convertAllMapValues" value="true" />
	</bean>

	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/home.*">homeController</prop>
				<prop key="/profile.*">profileController</prop>
				<prop key="/catalog.*">catalogController</prop>
				<prop key="/cart.*">cartController</prop>
				<prop key="/syndication.*">syndicationController</prop>
			</props>
		</property>
	</bean>

	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean name="xmlViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver" />


</beans>
